In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

df =pd.read_csv('C:/Users/zhang/spiced_bootcamp/unsupervised-lemon-encounter-notes/week_03/data/train.csv', parse_dates=True,index_col=[0])
df=df.drop(['casual','registered'],axis=1)
df.head()


def FindX(df,y):
    X=[]
    for i in df.columns:
        X.append(i)
    X.remove(y)
    print (X)
    return df[X]
y='count'

FindX(df,y)

['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'windspeed']

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
datetime,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027
2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013
2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013
2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032
2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981

In [2]:

X=FindX(df,'count')
y=df['count']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=101)

X_kg=pd.read_csv('test_bick.csv', parse_dates=True,index_col=[0])
xk=X_kg

['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'windspeed']

In [3]:
X_test=pd.DataFrame(X_test)
X_test


def DateTime(df,cl_name):
    df=df.reset_index()
    df[cl_name]=pd.to_datetime(df[cl_name])
    wek=[]
    hur=[]
    mth=[]
    for i in range(len(df)):
        wek.append(df[cl_name][i].weekday())
        hur.append(df[cl_name][i].hour)
        mth.append(df[cl_name][i].month)
    df['weekday']=wek
    df['hour']=hur
    df['month']=mth
    return df

X_train_d=DateTime(X_train,'datetime')
X_test_d=DateTime(X_test,'datetime')

X_kg_d=DateTime(X_kg,'datetime')

In [4]:
X_train_d
# print(X_train.head())
# print(X_kg_d.head())
# #print(X_test.head())

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,hour,month
0,2012-12-04 07:00:00,4,0,1,1,17.22,21.210,88,8.9981,1,7,12
1,2012-12-04 19:00:00,4,0,1,1,19.68,23.485,67,15.0013,1,19,12
2,2012-08-02 13:00:00,3,0,1,1,35.26,39.395,44,15.0013,3,13,8
3,2011-09-09 22:00:00,3,0,1,1,25.42,27.275,94,0.0000,4,22,9
4,2011-04-02 17:00:00,2,0,0,1,15.58,19.695,54,23.9994,5,17,4
...,...,...,...,...,...,...,...,...,...,...,...,...
8159,2011-02-08 03:00:00,1,0,1,3,11.48,13.635,93,11.0014,1,3,2
8160,2012-01-12 11:00:00,1,0,1,2,13.94,17.425,81,7.0015,3,11,1
8161,2012-06-13 23:00:00,2,0,1,1,25.42,31.060,50,19.0012,2,23,6
8162,2011-04-02 14:00:00,2,0,0,3,13.12,15.150,76,22.0028,5,14,4
8163,2011-04-10 08:00:00,2,0,0,2,15.58,19.695,94,6.0032,6,8,4

In [5]:
def poly(df):
    from sklearn.preprocessing import PolynomialFeatures
    import pandas as pd
    poly=PolynomialFeatures(degree=8)
    hour_poly=poly.fit_transform(df[['hour']])
    a=pd.DataFrame(hour_poly)
  #  df=df.join(a)
    return a

In [6]:
X_train_dp=poly(X_train_d)
X_test_dp=poly(X_test_d)
X_kg_dp=poly(X_kg_d)

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import accuracy_score, r2_score ,mean_squared_error,mean_squared_log_error

In [8]:

def binning(df):
    binl=['early','morning','day','eve','night']
    binv=[-1,6.5,8.5,16.0,20.0,25.0]
    df.loc[:,'hour_bin'] = pd.cut(df['hour'],bins=binv,labels=binl,right=False)
    return df

In [9]:
X_train_db=binning(X_train_d)
X_test_db=binning(X_test_d)
X_kg_db=binning(X_kg_d)

In [10]:
X_train_db

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,hour,month,hour_bin
0,2012-12-04 07:00:00,4,0,1,1,17.22,21.210,88,8.9981,1,7,12,morning
1,2012-12-04 19:00:00,4,0,1,1,19.68,23.485,67,15.0013,1,19,12,eve
2,2012-08-02 13:00:00,3,0,1,1,35.26,39.395,44,15.0013,3,13,8,day
3,2011-09-09 22:00:00,3,0,1,1,25.42,27.275,94,0.0000,4,22,9,night
4,2011-04-02 17:00:00,2,0,0,1,15.58,19.695,54,23.9994,5,17,4,eve
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,2011-02-08 03:00:00,1,0,1,3,11.48,13.635,93,11.0014,1,3,2,early
8160,2012-01-12 11:00:00,1,0,1,2,13.94,17.425,81,7.0015,3,11,1,day
8161,2012-06-13 23:00:00,2,0,1,1,25.42,31.060,50,19.0012,2,23,6,night
8162,2011-04-02 14:00:00,2,0,0,3,13.12,15.150,76,22.0028,5,14,4,day
8163,2011-04-10 08:00:00,2,0,0,2,15.58,19.695,94,6.0032,6,8,4,morning

In [11]:

def oheh(df):
    df=df.join(pd.get_dummies(df['hour_bin']))
    return df

X_train_dbh=oheh(X_train_db)
X_test_dbh=oheh(X_test_db)
X_kg_dbh=oheh(X_kg_db)

In [12]:
X_train_dbh

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,hour,month,hour_bin,early,morning,day,eve,night
0,2012-12-04 07:00:00,4,0,1,1,17.22,21.210,88,8.9981,1,7,12,morning,0,1,0,0,0
1,2012-12-04 19:00:00,4,0,1,1,19.68,23.485,67,15.0013,1,19,12,eve,0,0,0,1,0
2,2012-08-02 13:00:00,3,0,1,1,35.26,39.395,44,15.0013,3,13,8,day,0,0,1,0,0
3,2011-09-09 22:00:00,3,0,1,1,25.42,27.275,94,0.0000,4,22,9,night,0,0,0,0,1
4,2011-04-02 17:00:00,2,0,0,1,15.58,19.695,54,23.9994,5,17,4,eve,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,2011-02-08 03:00:00,1,0,1,3,11.48,13.635,93,11.0014,1,3,2,early,1,0,0,0,0
8160,2012-01-12 11:00:00,1,0,1,2,13.94,17.425,81,7.0015,3,11,1,day,0,0,1,0,0
8161,2012-06-13 23:00:00,2,0,1,1,25.42,31.060,50,19.0012,2,23,6,night,0,0,0,0,1
8162,2011-04-02 14:00:00,2,0,0,3,13.12,15.150,76,22.0028,5,14,4,day,0,0,1,0,0
8163,2011-04-10 08:00:00,2,0,0,2,15.58,19.695,94,6.0032,6,8,4,morning,0,1,0,0,0

In [13]:
standardize_columns=['atemp','humidity','windspeed']    #['temp', 'atemp', ]
other_columns=['season','hour']



#binner_transformer=FunctionTransformer(binning)

#bin_pipeline=make_pipeline(binner_transformer)

col_transformer = ColumnTransformer([ ('scaler',StandardScaler(),standardize_columns),
                                    # ('new_feature',n_f_transformer,['atem','humidity'])
                                  #   ("binner",binner_transformer,['hour'])
                                      #('KBinH',bin_hot_pipeline,['hour']),
                                  #    ('nf_standardize',nf_standard_pipeline,['new_feature'])
                                        ('oht',OneHotEncoder(handle_unknown='ignore'),other_columns)                                    
                                    ],remainder='passthrough' )

In [14]:

X_train_dbht=col_transformer.fit_transform(X_train_dbh)

X_test_dbht=col_transformer.transform(X_test_dbh)
X_kg_dbht=col_transformer.transform(X_kg_dbh)

In [15]:
pd.set_option('display.max_columns', None)

In [16]:
X_train_dbht

array([[-0.2892897421867813, 1.3681905304167954, -0.4645794464433769,
        ..., 0, 0, 0],
       [-0.021461542273001663, 0.2740465497428813, 0.2681834598707816,
        ..., 0, 1, 0],
       [1.8515699569042454, -0.9243016195666438, 0.2681834598707816, ...,
        1, 0, 0],
       ...,
       [0.8703180684289242, -0.6116890536598112, 0.756419458832336, ...,
        0, 0, 1],
       [-1.002713430748322, 0.7429653986031302, 1.1228009119894153, ...,
        1, 0, 0],
       [-0.46764566432716653, 1.680803096323628, -0.8301430838568021,
        ..., 0, 0, 0]], dtype=object)

In [17]:
X_train_dbht = pd.DataFrame(X_train_dbht)
X_test_dbht = pd.DataFrame(X_test_dbht)
X_kg_dbht = pd.DataFrame(X_kg_dbht)
#df.set_index(["Column"], inplace=True)
# X_kg=X_kg_dbht.set_index([31],inplace=True)
X_kg=X_kg_dbht.drop([31,38],axis=1)
X_tr=X_train_dbht.drop([31,38],axis=1)
X_te=X_test_dbht.drop([31,38],axis=1)

In [18]:
X_train_dbht

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43
0,-0.28929,1.368191,-0.464579,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-04 07:00:00,0,1,1,17.22,1,12,morning,0,1,0,0,0
1,-0.021462,0.274047,0.268183,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2012-12-04 19:00:00,0,1,1,19.68,1,12,eve,0,0,0,1,0
2,1.85157,-0.924302,0.268183,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-08-02 13:00:00,0,1,1,35.26,3,8,day,0,0,1,0,0
3,0.424723,1.680803,-1.562906,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2011-09-09 22:00:00,0,1,1,25.42,4,9,night,0,0,0,0,1
4,-0.467646,-0.403281,1.36651,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2011-04-02 17:00:00,0,0,1,15.58,5,4,eve,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,-1.181069,1.628701,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2011-02-08 03:00:00,0,1,3,11.48,1,2,early,1,0,0,0,0
8160,-0.734885,1.003476,-0.708289,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-01-12 11:00:00,0,1,2,13.94,3,1,day,0,0,1,0,0
8161,0.870318,-0.611689,0.756419,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2012-06-13 23:00:00,0,1,1,25.42,2,6,night,0,0,0,0,1
8162,-1.002713,0.742965,1.122801,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2011-04-02 14:00:00,0,0,3,13.12,5,4,day,0,0,1,0,0
8163,-0.467646,1.680803,-0.830143,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2011-04-10 08:00:00,0,0,2,15.58,6,4,morning,0,1,0,0,0

In [19]:
#from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import PoissonRegressor
#m=LinearRegression()
m=PoissonRegressor()
m.fit(X_tr,y_train)

C:\Users\zhang\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:287: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res)

PoissonRegressor()

In [29]:
y_pre=m.predict(X_tr)
y_pre_test=m.predict(X_te)
y_pre_kg=m.predict(X_kg)
#m.score(X_train_d_ct,y_train)

In [30]:
X_kg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,35,36,37,39,40,41,42,43
0,-1.448309,-0.299076,1.611037,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,10.66,3,1,1,0,0,0,0
1,-1.181069,-0.299076,-1.562906,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,10.66,3,1,1,0,0,0,0
2,-1.181069,-0.299076,-1.562906,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,10.66,3,1,1,0,0,0,0
3,-1.269953,-0.299076,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,10.66,3,1,1,0,0,0,0
4,-1.269953,-0.299076,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,10.66,3,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6488,-1.269953,-0.090668,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,2,10.66,0,12,0,0,0,1,0
6489,-1.269953,-0.090668,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1,2,10.66,0,12,0,0,0,0,1
6490,-1.269953,-0.090668,-0.220053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,1,10.66,0,12,0,0,0,0,1
6491,-1.181069,-0.299076,-0.464579,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,10.66,0,12,0,0,0,0,1
6492,-1.181069,0.169842,-0.464579,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,1,10.66,0,12,0,0,0,0,1

In [31]:

y_pre_kg = {"datetime": xk.index,
                  "count": y_pre_kg}
y_pre_kg=pd.DataFrame(y_pre_kg)



   # kag_df = {"datetime": y_kag.index,
#                  "count": y_pred_kag}
# kag_df = pd.DataFrame(kag_df)

In [32]:
y_pre_kg.to_csv('./bickaggle19.csv',index=False)

In [24]:
# y_pre=pd.DataFrame(y_pre)
#y_tr=y_train.loc[:,1]
# y_train=pd.DataFrame(y_train)
# y_tr=y_train['count']

#y_tr.drop([datetime],axis=1)

In [25]:
type(y_pre_test)
# y_tr=pd.DataFrame(y_tr)
# y_tr.reset_index()
# y_tr
type(y_pre)

numpy.ndarray

In [26]:
# method of Andres
y_pre1={'datetime':y_train.index,
       'count':y_pre}

#y_pre1= pd.DataFrame(y_pre1)
# kag_df = {"datetime": y_kag.index,
#                  "count": y_pred_kag}
# kag_df = pd.DataFrame(kag_df)
# #kag_df['count'][kag_df['count']<0] = 0.0
# kag_df
p=y_pre1
p=pd.DataFrame(p)
c=p['count']
c=pd.DataFrame(c)
y1=y_train.reset_index(drop=True)
y1=y1.values
# c=c.values
# c
y1=pd.DataFrame(y1)
y1
c=pd.DataFrame(c)
c

           count
0     273.584939
1     376.805273
2     383.271038
3     146.826960
4     366.939656
...          ...
8159   10.902344
8160  105.320834
8161  136.282737
8162  113.862804
8163  263.798103

[8164 rows x 1 columns]

In [27]:
y1

        0
0     502
1     460
2     310
3     160
4     184
...   ...
8159    1
8160  119
8161  153
8162  190
8163   55

[8164 rows x 1 columns]

In [1]:
#m.score(c,y1)

In [ ]:
sub = pd.DataFrame(y_pre_kg, columns=['count'])
#sub
#sub['datetime'] = sub.reset_index()['datetime']
# #sub = sub[['datetime', 'count']]

In [ ]:
y_pre_kg.to_csv('./bickaggle1.csv',index=False)

In [ ]:
#method of Jinling
#pd.DataFrame.to_csv(sub, '../data/sub_rf.csv', index=False

In [ ]:
print(y_pre_kg)

In [ ]:
y_pre_kg

In [ ]:
y_pre_kg.head

In [ ]:
import numpy as np